<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.u_surge.kjs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="true"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />


            <!-- Redirect URI : "kakao{Native_APP_KEY}:// oauth"-->
            <data android:host="oauth"
            android:scheme="kakaoa2a16c02e65868aeb9a8c4419e2a450f"/>
        </intent-filter>
      </activity>
    </application>
</manifest>
